<div class="padding-global"><div class="hero-container"><div class="position-absolute_hero-images"><div class="u-group"><img src="{{ 'img_hero-dog-biting-a-jerkey.png' | asset_url }}" loading="eager" width="541.5" sizes="(max-width: 479px) 85vw, (max-width: 767px) 54vw, (max-width: 991px) 43vw, (max-width: 1279px) 50vw, 46vw" alt="" srcset="{{ 'img_hero-dog-biting-a-jerkey-p-500.png' | asset_url }} 500w, {{ 'img_hero-dog-biting-a-jerkey-p-800.png' | asset_url }} 800w, {{ 'img_hero-dog-biting-a-jerkey.png' | asset_url }} 1083w" class="img_hero-dog-biting-a-jerkey">
<img src="{{ 'img_usa-made-and-sourced.png' | asset_url }}" loading="eager" width="237" alt="" class="img_usa-made-and-sourced">
</div></div><div class="hero-content"><div class="spacer-hero"></div><div class="grid_hero"><div x-data="items: 0" class="hero-text"><h1 x-show="items > 0" class="h1_hero-headline">100% Single Ingredient <span class="h1_headline-highlight">Jerky Treats for Dogs.</span></h1><a href="#" class="cta-button w-button">Try Now!</a></div></div><div class="rotate"><div class="marquee-code w-embed"><style>@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}
.scroll {
  animation: scroll 10s linear infinite;
}
.reverse {
  animation-direction: reverse;
}
.marquee-image {
  -webkit-transform: translateZ(0);
}
</style></div><div class="marquee-wrap"><div class="marquee-hero scroll reverse"><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">PORK</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">CHICKEN</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">BEEF</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">TURKEY</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">PORK</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">CHICKEN</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">BEEF</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">TURKEY</div></div><div class="marquee-hero scroll reverse"><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">PORK</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">CHICKEN</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">BEEF</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">TURKEY</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">PORK</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">CHICKEN</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">BEEF</div><img src="{{ 'img_star-marquee.png' | asset_url }}" loading="lazy" width="19.5" alt="" class="img_star-marquee">
<div class="marquee-text heading-style-h3">TURKEY</div></div></div><div class="divider-group"><div class="v-divider hide-mobile-landscape"></div><div class="v-divider hide-mobile-landscape"></div><div class="v-divider"></div><div class="v-divider"></div><div class="v-divider"></div><div class="v-divider"></div><div class="v-divider"></div><div class="v-divider"></div></div></div></div><div class="hero-border"></div></div></div> {% schema %} {"tag":"section","name":"hero","class":"section_hero","presets":[{"name":"hero","category":"Liquify"}]} {% endschema %}