<div class="container_instafeed"><img width="245" loading="lazy" alt="" src="{{ 'IMG_9788.png' | asset_url }}" class="ig-post">
<img width="245" loading="lazy" alt="" src="{{ 'IMG_9789.png' | asset_url }}" class="ig-post">
<img width="245" loading="lazy" alt="" src="{{ 'IMG_9790.png' | asset_url }}" class="ig-post">
<img width="245" loading="lazy" alt="" src="{{ 'IMG_9798.png' | asset_url }}" class="ig-post">
<img width="245" loading="lazy" alt="" src="{{ 'IMG_9795.png' | asset_url }}" class="ig-post">
</div> {% schema %} {"tag":"div","name":"instafeed","class":"section_instafeed","presets":[{"name":"instafeed","category":"Liquify"}]} {% endschema %}